@use "variables"
@use "font"

$black: #000000
$white: #ffffff
$white-25: rgba(255,255,255,0.25)
$grey: #F4F2EE
$light-blue: rgba(248,250,253,1)
$shadow-color: #726E764D
$border-color: #E8E8E8
$link-hover: #4E87C4
$font-body-color: #666666
$font-body-strong-color: #191919
$link-hover-90: rgba(78,135, 198, .9)
$link-hover-grey-95: rgba(248, 250, 253, 0.95)


*
  font-family: "Questrial"

body
  background-color: $grey

  main
    overflow: hidden

//Navigation
.elementor-custom-grid
  --display: grid
  --e-con-grid-template-columns: repeat(1, 1fr) !important
  --e-con-grid-template-rows: repeat(1, 1fr) !important
  --grid-auto-flow: row !important

.i2g-navigation
  background-color: $light-blue
  border-radius: 1.25rem
  box-shadow: 0 8px 16px 0 $shadow-color

  .i2g-navigation-container
    &.border-bottom
      border-bottom: 1px solid $border-color
    display: flex
    padding: 1rem 1.5rem

    &.space-between
      justify-content: space-between


    .logo-container
      display: inline-flex
      align-items: center
      img
        height: 1.5rem

  .i2g-inline-container
    display: inline-flex
    align-items: center

  .icon-aside
    display: flex
    align-items: center
    .icon-text
      margin-left: .5rem
      font-family: "Instrument Sans"
      font-weight: 400
      font-size: 0.85rem
      line-height: 100%
      letter-spacing: -3%
      vertical-align: middle
      a, a:visited
        color: $black
      a:hover
        color: $link-hover

  .i2g-menu-wrap
    .menu
      list-style-type: none
      display: inline-flex
      margin-bottom: 0
      li
        position: relative
        &.menu-item-has-children
          &:hover
            .sub-menu
              width: 320px
              height: auto
              opacity: 1
          & > a
            display: inline-flex
          a::after
            margin-left: .5rem
            margin-top: .25rem
            content: ' '
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e")
            transform: rotate(0deg)
            width: 1rem
            height: 1rem
          ul
            height: 0
            transition-duration: 64ms
            opacity: 0
            list-style-type: none
            padding: .5rem 1.5rem
            margin: 0
            background-color: $light-blue
            border-radius: 1rem
            position: absolute
            z-index: 500
            box-shadow: 5px 8px 16px 0 $shadow-color
        a
          display: block
          padding: .25rem .75rem
          font-size: 1rem
          color: $black
          text-decoration: none
          &:hover
            color: $link-hover
        &.current-menu-item
          a
            color: $link-hover
        &.current-menu-ancestor
          & > a
            color: $link-hover


  .i2g-menu-extra-wrap
    .menu
      list-style-type: none
      display: inline-flex
      margin-bottom: 0
      li
        a
          display: block
          padding: .25rem .75rem
          font-size: 0.85rem
          color: $black
          text-decoration: none
          &:hover
            color: $link-hover
        &.current-menu-item
          a
            color: $link-hover

  .i2g-language-menu
    .menu
      list-style-type: none
      display: inline-flex
      margin-bottom: 0
      padding: 0
      li
        a
          display: block
          padding: .25rem .75rem
          font-size: 0.85rem
          color: $black
          text-decoration: none
          &:hover
            color: $link-hover !important
        &.current-menu-item
          a
            color: $link-hover
      .active
        a
          color: $link-hover !important

  .btn-primary
    background-color: $link-hover
    border-color: $link-hover


//footer styles
footer
  background-color: $grey
  .i2g-footer-wrap
    padding: 1rem 1.5rem

  strong
    color: $font-body-strong-color
    font-size: 0.85rem
    font-family: "Instrument Sans"
    font-weight: 500
    line-height: 18px
    letter-spacing: -3%
  p
    color: $font-body-color
    font-size: 0.85rem
    font-family: "Instrument Sans"
    font-weight: 400
    line-height: 18px
    letter-spacing: -3%

  .i2g-footer-menu-wrap
    ul
      margin: 0
      padding: 0
      list-style-type: none
      li
        margin-bottom: .35rem
        a
          font-size: 0.85rem
          color: $font-body-color
          text-decoration: none
          &:hover
            color: $link-hover

  .i2g-footer-menu-horizontal-wrap
    display: inline-flex
    ul
      margin: 0
      padding: 0
      list-style-type: none
      display: inline-flex
      justify-content: flex-end
      li
        margin-right: .5rem
        a
          font-size: 0.85rem
          color: $font-body-color
          text-decoration: none
          padding-right: .5rem
          border-right: 1px solid $font-body-color
          &:hover
            color: $link-hover
        &:last-child
          a
            border-right: 0

//i2g Content blocks
.i2g-block-abstract
  border: 0.75rem solid $white
  border-radius: 1.25rem
  background-color: $light-blue
  padding: 1rem
  height: 100%
  width: 100%
  overflow: hidden
  display: inline-flex
  align-items: center

  .content
    min-width: 100%

  .i2g-tag
    margin-bottom: 1rem

  h1
    font-family: "Questrial"
    font-weight: 400
    font-size: 2rem
    line-height: 2.33rem
    letter-spacing: 0
    vertical-align: middle
    color: $font-body-strong-color

  h3
    font-family: "Questrial"
    font-weight: 400
    font-size: 1.5rem
    line-height: 2.5rem
    letter-spacing: 0
    vertical-align: middle
    color: $font-body-color

  p
    font-family: "Questrial"
    font-weight: 400
    font-size: 1rem
    line-height: 1.5rem
    letter-spacing: -3%
    vertical-align: middle
    color: $font-body-color
    span
      color: $font-body-strong-color

  &.elementor-content-image-widget
    background-size: cover
    background-position: center center
    min-height: 560px
    display: inline-flex
    align-items: flex-start
    padding: 1rem
    .video-label
      padding: .5rem .5rem
      background: $white-25
      border-radius: .5rem
      a
        span
          color: $font-body-color
          font-weight: 600
          margin-left: .5rem
      &:hover
        background: $shadow-color
        a
          span
            color: $white



  //content blocks
  .info-blocks
    display: inline-flex
    flex-direction: row
    flex-wrap: wrap
    column-gap: 1rem
    row-gap: 1rem
    .content-block
      background-color: $light-blue
      border: 1px solid $grey
      border-radius: .5rem
      padding: .5rem
      margin-right: 1rem

      h2
        font-family: "Questrial"
        font-weight: 400
        font-size: 2rem
        line-height: 2.25rem
        letter-spacing: 0
        vertical-align: middle
        color: $font-body-strong-color
    h4
      font-family: "Instrument Sans"
      font-weight: 500
      font-size: 0.85rem
      line-height: 1.35rem
      letter-spacing: -3%
      vertical-align: middle
      color: $font-body-strong-color
      margin-bottom: 0
  @media screen and (max-width: 767px)
    .info-blocks
      flex-direction: column
      justify-content: center


  .info-link
    margin-bottom: 0
    a
      color: $link-hover
      span
        color: $link-hover
        padding-left: .5rem
        text-transform: uppercase
      &:hover
        svg
          path
            fill: $font-body-strong-color
        span
          color: $font-body-strong-color

  &.elementor-content-text-widget
    .content
      display: inline-flex
      flex-direction: column
      &.content-left
        align-items: flex-start
      &.content-center
        align-items: center
      &.content-right
        align-items: flex-end

  //content tiles
  &.elementor-content-tile-widget
    .content
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      h1
        margin-bottom: 1rem
      p
        text-align: center
        font-family: "Questrial"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        letter-spacing: 3%
        color: $font-body-color

      .tile-group
        width: 100%
        display: inline-flex
        justify-content: space-evenly
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .tile-item
          border-radius: 1.25rem
          padding: .75rem
          background-color: $white
          width: calc(50% - 1rem)
          *
            text-align: left
          h2
            font-family: "Questrial"
            font-weight: 400
            font-size: 1.25rem
            line-height: 1.5rem
            letter-spacing: 0
            vertical-align: middle
          p
            font-family: "Questrial"
            font-weight: 400
            font-size: 1rem
            line-height: 1.5rem
            letter-spacing: -3%
            vertical-align: middle
          img
            width: 100% !important
            height: auto !important
            border-radius: 1rem
            overflow: hidden
            margin-bottom: 1rem
          .tile-description
            margin-bottom: 1rem
          .tile-link
            margin-bottom: 0
            a
              color: $link-hover
              span
                color: $link-hover
                padding-left: .5rem
                text-transform: uppercase
              &:hover
                svg
                  path
                    fill: $font-body-strong-color
                span
                  color: $font-body-strong-color
        @media screen and (max-width: 640px)
          .tile-item
            width: 100%


  //content media background
  &.elementor-content-background-media-widget
    position: relative
    background-color: $font-body-strong-color
    overflow: hidden
    &.i2g-box-static-background
      background-color: $font-body-strong-color
      .i2g-static-background-image
        background-size: cover
        background-position: center center
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        min-width: 120%
        min-height: 120%
        opacity: 50%
      &.i2g-content-left
        justify-content: flex-start
        .content
          width: 50%
          max-width: 50% !important
          min-width: auto !important
          padding: 4rem 2rem
          *
            text-align: left
          h1
            font-size: 1.75rem
            line-height: 2.25rem
        .i2g-button-group
          width: 100%
      &.i2g-content-right
        width: 50%
        max-width: 50% !important
        min-width: auto !important
        justify-content: flex-end
        .content
          width: 50%
          padding: 4rem 2rem
          *
            text-align: right
          h1
            font-size: 1.75rem
            line-height: 2.25rem
          .i2g-button-group
            width: 100%
    video
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      min-width: 120%
      min-height: 120%
      opacity: 20%
    @media screen and (max-width: 640px)
      video
        min-width: 300%
        min-height: 200%
    .content
      position: relative
      z-index: 100
      padding: 4rem 4rem
      display: flex
      flex-direction: column
      align-items: center
      width: 100%
      h1
        font-family: "Questrial"
        font-weight: 400
        font-size: 2.5rem
        line-height: 3.25rem
        letter-spacing: 0
        text-align: center
        vertical-align: middle
        margin-bottom: 1rem
        color: $white
      h3
        font-family: "Questrial"
        font-weight: 400
        font-size: 1.5rem
        line-height: 2.5rem
        letter-spacing: 0
        text-align: center
        vertical-align: middle
        color: $white
      p
        text-align: center
        font-family: "Questrial"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        letter-spacing: 3%
        color: $white
      .i2g-button-group
        .btn
          margin-right: 1rem
        .btn:last-child
          margin-right: 0
        .btn-primary
          background-color: $link-hover
          border-color: $link-hover
          color: $white
        .btn-outline-primary
          border-color: $link-hover
          color: $white
          &:hover
            background-color: $link-hover
      @media screen and (max-width: 640px)
        .i2g-button-group
          display: flex
          flex-direction: column
          align-items: center
          row-gap: 1rem

  //content benefits
  &.elementor-content-benefits-widget
    position: relative
    background-color: $font-body-strong-color
    overflow: hidden
    &.i2g-box-static-background
      .content
        *
          color: $font-body-color
      background-color: $font-body-strong-color
      .i2g-static-background-image
        background-size: cover
        background-position: center center
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        min-width: 120%
        min-height: 120%
        opacity: 50%
      &.i2g-content-left
        justify-content: flex-start
        .content
          width: 50%
          max-width: 50% !important
          min-width: auto !important
          padding: 4rem 2rem
          *
            text-align: left
          h1
            font-size: 1.75rem
            line-height: 2.25rem
        .i2g-button-group
          width: 100%
      &.i2g-content-right
        justify-content: flex-end
        .content
          width: 50%
          padding: 4rem 2rem
          *
            text-align: right
          h1
            font-size: 1.75rem
            line-height: 2.25rem
          .i2g-button-group
            width: 100%
    video
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      min-width: 120%
      min-height: 120%
      opacity: 20%
    @media screen and (max-width: 640px)
      video
        min-width: 300%
        min-height: 200%
    .content
      *
        color: $white
      width: 100%
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      position: relative
      z-index: 100
      h1
        margin-bottom: 1rem
      .benefits-group
        width: 80%
        display: inline-flex
        justify-content: space-evenly
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .benefits-item
          padding: .75rem
          width: calc(50% - 1rem)
          display: flex
          flex-direction: row
          align-items: center
          .item-icon
            padding: 1rem
          .item-label
            font-family: "Questrial"
            font-weight: 400
            font-size: 1.25rem
            line-height: 1.5rem
            letter-spacing: 0
            vertical-align: middle
        @media screen and (max-width: 640px)
          .benefits-item
            width: 100%

  //content comparison
  &.elementor-content-comparison-widget
    .content
      width: 100%
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      h1
        margin-bottom: 1rem
      .content-text
        *
          color: $font-body-color
        p
          text-align: center
      .comparison-group
        width: 100%
        display: inline-flex
        justify-content: space-evenly
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .comparison-item
          border: 1px solid $grey
          border-radius: .75rem
          padding: .75rem
          width: calc(25% - 1rem)
          .item-icon-container
            display: inline-flex
            margin-bottom: 6rem
            .item-icon
              display: inline-flex
              border: 1px solid $grey
              border-radius: .5rem
              padding: 1rem
              .item-icon-inner
                display: inline-flex
                align-content: center
                justify-content: center
                width: 2rem
                height: 2rem
          .item-amount-container
            margin-bottom: .75rem
            .item-amount
              font-family: "Questrial"
              font-weight: 400
              font-size: 4.5rem
              line-height: 4.75rem
              letter-spacing: -3%
              color: $link-hover
            .item-suffix
              font-family: "Questrial"
              font-weight: 400
              font-size: 4.5rem
              line-height: 4.75rem
              letter-spacing: -3%
              color: $link-hover
          .item-description-container
            min-height: 4rem
            .item-label
              font-family: "Questrial"
              font-weight: 600
              font-size: 1rem
              line-height: 1.25rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-strong-color
            .item-description
              font-family: "Questrial"
              font-weight: 400
              font-size: 1rem
              line-height: 1.25rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-color
        @media screen and (max-width: 932px)
          .comparison-item
            width: calc(50% - 1rem)
        @media screen and (max-width: 640px)
          .comparison-item
            width: 100%

  //content value tiles
  &.elementor-content-values-tile-widget
    .content
      width: 100%
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      h1
        margin-bottom: 1rem
      .content-text
        *
          color: $font-body-color
        p
          text-align: center
      .comparison-group
        width: 100%
        display: inline-flex
        justify-content: space-evenly
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .comparison-item
          border: 1px solid $grey
          border-radius: .75rem
          padding: .75rem
          width: calc(33% - 1rem)
          .item-icon-container
            display: inline-flex
            margin-bottom: 1rem
            .item-icon
              display: inline-flex
              border: 1px solid $grey
              border-radius: .5rem
              padding: 1rem
              .item-icon-inner
                display: inline-flex
                align-content: center
                justify-content: center
                width: 2rem
                height: 2rem
          .item-description-container
            min-height: 4rem
            h3
              font-family: "Questrial"
              font-weight: 400
              font-size: 1.25rem
              line-height: 1.5rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-strong-color
            p
              font-family: "Questrial"
              font-weight: 400
              font-size: 1rem
              line-height: 1.25rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-color
        @media screen and (max-width: 932px)
          .comparison-item
            width: calc(50% - 1rem)
        @media screen and (max-width: 640px)
          .comparison-item
            width: 100%

  //content team tiles
  &.elementor-content-team-tile-widget
    .content
      width: 100%
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      h1
        margin-bottom: 1rem
      .content-text
        *
          color: $font-body-color
        p
          text-align: center
      .comparison-group
        padding-top: 1rem
        width: 100%
        display: inline-flex
        justify-content: space-evenly
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .comparison-item
          border: 1px solid $grey
          border-radius: .75rem
          padding: .75rem
          width: calc(25% - 1rem)
          .item-image-container
            border-radius: .75rem
            overflow: hidden
          .item-description-container
            margin-top: 1rem
            padding-top: 1rem
            border-top: 2px solid $link-hover
            min-height: 4rem
            h3
              font-family: "Questrial"
              font-weight: 400
              font-size: 1.25rem
              line-height: 1.5rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-strong-color
            p
              font-family: "Questrial"
              font-weight: 400
              font-size: 1rem
              line-height: 1.25rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-color
            a
              span
                color: $link-hover
        @media screen and (max-width: 932px)
          .comparison-item
            width: calc(33% - 1rem)
        @media screen and (max-width: 767px)
          .comparison-item
            width: calc(50% - 1rem)
        @media screen and (max-width: 640px)
          .comparison-item
            width: 100%
            img
              min-width: 100%

  //content testimonials
  &.elementor-content-testimonials-widget
    .content
      width: 100%
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      h1
        margin-bottom: 1rem
      .content-text
        *
          color: $font-body-color
        p
          text-align: center
      .testimonial-group
        width: 100%
        display: inline-flex
        justify-content: space-evenly
        column-gap: 1rem
        row-gap: 1rem
        .testimonial-item
          display: inline-flex
          flex-direction: column
          align-content: stretch
          background-color: $white
          border: 1px solid $grey
          border-radius: .75rem
          padding: .75rem
          width: 100%
          .testimonial-text-container
            height: 100%
            p
              color: $font-body-strong-color
          .testimonial-description-container
            min-height: 4rem
            .testimonial-name
              font-family: "Questrial"
              font-weight: 400
              font-size: 1rem
              line-height: 1.25rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-strong-color
            .testimonial-position
              font-family: "Questrial"
              font-weight: 400
              font-size: 1rem
              line-height: 1.25rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-color
        @media screen and (max-width: 640px)
          .testimonial-item
            width: 100%
      @media screen and (max-width: 767px)
        .testimonial-group
          flex-wrap: wrap

  &.elementor-content-references-widget
    .content
      width: 100%
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      h1
        text-align: center
        margin-bottom: 1rem
      h3
        text-align: center
      .content-text
        *
          color: $font-body-color
        p
          text-align: center
      .reference-group
        width: 100%
        display: inline-flex
        justify-content: space-evenly
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .reference-item
          &.reference-item-amount-1
            width: 100%
            .reference-item-content
              bottom: calc(0% - 5rem)
          &.reference-item-amount-2
            width: calc(50% - 1rem)
            .reference-item-content
              bottom: calc(0% - 5rem)
          &.reference-item-amount-3
            width: calc(33% - 1rem)
            .reference-item-content
              bottom: calc(0% - 5.25rem)
          &.reference-item-amount-4
            width: calc(25% - 1rem)
            .reference-item-content
              bottom: calc(0% - 6.5rem)
          height: 22.5em
          position: relative
          display: inline-flex
          overflow: hidden
          transition-duration: 220ms
          cursor: pointer
          flex-direction: column
          align-content: stretch
          justify-content: flex-end
          background-color: $font-body-strong-color
          border: 1px solid $grey
          border-radius: .75rem
          padding: .75rem
          width: calc(25% - 1rem)
          &:hover
            background-color: $white
            .reference-item-content
              bottom: 0 !important
              .reference-headline-container
                .reference-headline
                  color: $font-body-strong-color
              .reference-description-container
                opacity: 1
          .reference-item-content
            position: absolute
            display: inline-flex
            flex-direction: column
            justify-content: flex-end
            height: 100%
            left: 0
            bottom: calc(0% - 6.5rem)
            transition-duration: 220ms
            padding: .75rem
            .reference-headline-container
              min-height: 3rem
              display: inline-flex
              align-items: flex-end
              .reference-headline
                font-family: "Questrial"
                font-weight: 400
                font-size: 1.25rem
                line-height: 1.5rem
                letter-spacing: 0
                vertical-align: middle
                color: $link-hover
                transition-duration: 220ms
                transition-delay: 20ms
                text-align: left
            .reference-description-container
              opacity: 0
              transition-duration: 220ms
              min-height: 4rem
              p
                font-family: "Questrial"
                font-weight: 400
                font-size: 1rem
                line-height: 1.25rem
                letter-spacing: 0
                vertical-align: middle
                color: $font-body-color
        @media screen and (max-width: 932px)
          .reference-item
            &.reference-item-amount-1
              width: 100%
              .reference-item-content
                bottom: calc(0% - 5rem)
            &.reference-item-amount-2, &.reference-item-amount-3, &.reference-item-amount-4
              width: calc(50% - 1rem)
              .reference-item-content
                bottom: calc(0% - 5rem)
        @media screen and (max-width: 640px)
          .reference-item
            &.reference-item-amount-1, &.reference-item-amount-2, &.reference-item-amount-3, &.reference-item-amount-4
              width: 100%
              .reference-item-content
                bottom: calc(0% - 5rem)
        .reference-link
            margin-bottom: 0
            a
              color: $link-hover
              span
                color: $link-hover
                padding-left: .25rem
                text-transform: uppercase
              &:hover
                svg
                  path
                    fill: $font-body-strong-color
                span
                  color: $font-body-strong-color
      .i2g-button-group
        margin-top: 1rem
      .btn
        margin-right: 1rem
      .btn:last-child
        margin-right: 0
      .btn-primary
        background-color: $link-hover
        border-color: $link-hover
        color: $white
      .btn-outline-primary
        border-color: $link-hover
        color: $white
        &:hover
          background-color: $link-hover

  &.elementor-content-insights-widget
    .content
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      h1
        margin-bottom: 1rem
      p
        text-align: center
        font-family: "Questrial"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        letter-spacing: 3%
        color: $font-body-color

      .tile-group
        width: 100%
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-column-gap: 1rem
        grid-row-gap: 1rem
        .aside-image
          display: none
        .tile-item:nth-child(1)
          grid-area: 1 / 1 / 3 / 2
          img
            width: 100%
        .tile-item:nth-child(2)
          grid-area: 1 / 2 / 2 / 3
          img
            max-width: 25%
        .tile-item:nth-child(3)
          grid-area: 2 / 2 / 3 / 3
          img
            max-width: 25%
        .tile-item
          border-radius: 1.25rem
          padding: .75rem
          background-color: $white
          width: 100%
          &.item-horizontal
            height: 100%
            display: inline-flex
            flex-direction: row
            img
              height: 100% !important
            .tile-content
              padding-left: 1rem
          *
            text-align: left
          h2
            font-family: "Questrial"
            font-weight: 400
            font-size: 1.25rem
            line-height: 1.5rem
            letter-spacing: 0
            vertical-align: middle
          p
            font-family: "Questrial"
            font-weight: 400
            font-size: 1rem
            line-height: 1.5rem
            letter-spacing: -3%
            vertical-align: middle
          img
            width: 100% !important
            height: auto !important
            border-radius: 1rem
            overflow: hidden
            margin-bottom: 1rem
          .tile-content-prefix
            font-family: "Instrument Sans"
            margin-bottom: 0
            font-weight: 600
            font-size: 0.75rem
            line-height: 0.85rem
          .tile-description
            margin-bottom: 1rem
          .tile-link
            margin-bottom: 0
            a
              color: $link-hover
              span
                color: $link-hover
                padding-left: .5rem
                text-transform: uppercase
              &:hover
                svg
                  path
                    fill: $font-body-strong-color
                span
                  color: $font-body-strong-color
      @media screen and (max-width: 932px)
        .tile-group
          display: flex
          align-items: stretch
          justify-content: center
          flex-direction: row
          row-gap: 1rem
          column-gap: 1rem
          height: 100%
          .tile-item
            width: calc(33% - 1rem)
            height: 100%
          .tile-item:not(:first-child)
            flex-direction: column !important
            .main-image
              display: none
            .aside-image
              width: 100% !important
              max-width: 100%
              height: auto !important
              border-radius: 1rem
              overflow: hidden
              margin-bottom: 1rem
              display: block
            .tile-content
              padding-left: 0
              height: 100%
      @media screen and (max-width: 767px)
        .tile-group
          flex-direction: column
          .tile-item
            width: 100%
      .i2g-button-group
        margin-top: 1rem
      .btn
        margin-right: 1rem
      .btn:last-child
        margin-right: 0
      .btn-primary
        background-color: $link-hover
        border-color: $link-hover
        color: $white
      .btn-outline-primary
        border-color: $link-hover
        color: $white
        &:hover
          background-color: $link-hover
  &.content-dynamic-abstract-widget
    .elementor-widget-container, .elementor-widget-content-inset-team-abstract, .accordion-abstract-container, .team-group, .elementor-widget-wpforms
      width: 100%
    .content
      width: 100%
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      column-gap: 1rem
      row-gap: 1rem
      align-items: center
      .content-tabs
        width: 100%
        display: flex
        flex-direction: column
        column-gap: 1rem
        row-gap: 1rem
        align-items: center
        &.horizontal
          flex-direction: row
          align-items: start
      @media screen and (max-width: 767px)
        .content-tabs
          &.horizontal
            flex-direction: column
            align-items: center
      h1
        margin-bottom: 1rem
      .content-text
        *
          color: $font-body-color
        p
          text-align: center
      .elementor-widget-google_maps
        border: 0.75rem solid $white
        overflow: hidden
        border-radius: 1.25rem
        background-color: rgb(248, 250, 253)
        box-shadow: 0 0 1px 0 $shadow-color
        iframe
          max-height: 254px
      .testimonial-group
        width: 100%
        display: inline-flex
        justify-content: space-evenly
        column-gap: 1rem
        row-gap: 1rem
        .testimonial-item
          display: inline-flex
          flex-direction: column
          align-content: stretch
          background-color: $white
          border: 1px solid $grey
          border-radius: .75rem
          padding: .75rem
          width: calc(33% - 1rem)
          .testimonial-text-container
            height: 100%
          .testimonial-description-container
            min-height: 4rem
            .testimonial-name
              font-family: "Questrial"
              font-weight: 400
              font-size: 1rem
              line-height: 1.25rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-strong-color
            .testimonial-position
              font-family: "Questrial"
              font-weight: 400
              font-size: 1rem
              line-height: 1.25rem
              letter-spacing: 0
              vertical-align: middle
              color: $font-body-color
    .team-group
      display: flex
      column-gap: 1rem
      justify-content: space-between
      flex-wrap: wrap
      row-gap: 1rem
      .team-member
        width: calc(50% - 1rem)
        .member-image
          border: 0.75rem solid $white
          border-radius: 1.25rem
          background-color: $light-blue
          box-shadow: 0 0 1px 0 $shadow-color
          img
            border-radius: .75rem
      .member-info-container
        background-color: $white
        border-radius: 1.25rem
        box-shadow: 0 0 1px 0 $shadow-color
        display: flex
        width: 100%
        padding: 2rem
        margin-top: 1rem
        .icon-box
          min-height: 4rem
          padding: 1rem
          display: inline-flex
          align-items: center
          background-color: $light-blue
          border-radius: .75rem
          box-shadow: 0 0 1px 0 $shadow-color
        .content-box
          margin-left: 2rem
          padding-top: .5rem
          *
            font-family: "Instrument Sans", serif
            color: $font-body-color
          span
            color: $font-body-strong-color
    @media screen and (max-width: 767px)
      .team-group
        .team-member
          width: 100%
          img
            min-width: 100%
          &:last-child
            display: none

    .wpforms-container
      *
        font-family: "Instrument Sans", Sans-serif
      margin: 0 !important
      width: 100%
      padding: 1rem 1rem
      border: 0.75rem solid $white
      border-radius: 1.25rem
      background-color: $white
      box-shadow: 0 0 1px 0 $shadow-color
      .wpforms-field-row, .wpforms-field-medium
        width: 100%
        max-width: 100%
      label, legend
        color: $font-body-color
        font-weight: 600
      ul
        label
          font-weight: 400
          padding-inline-start: 0 !important
      input, textarea
        background-color: $light-blue
        border-radius: .75rem
        padding: 1rem 1rem
        &::placeholder
          color: $font-body-color
      button
        width: 100%
        //padding: 1rem 1rem
        background-color: $link-hover !important
        border-radius: .75rem
  &.elementor-content-link-group-widget
    .content
      padding: 2rem 1rem
      display: flex
      flex-direction: column
      align-items: center
      width: 100%
      h1
        margin-bottom: 1rem
      p
        text-align: center
        font-family: "Questrial"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        letter-spacing: 3%
        color: $font-body-color
      .link-group
        margin-top: 1rem
        width: 100%
        display: inline-flex
        justify-content: space-evenly
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .link-item
          border-radius: 1.25rem
          padding: 2rem 1rem
          background-color: $white
          width: calc(25% - 1rem)
          box-shadow: 0 0 2rem 0 $shadow-color

          *
            text-align: left
          font-family: "Instrument Sans", Sans-serif
          font-weight: 400
          font-size: 1rem
          line-height: 1.5rem
          letter-spacing: -3%
          vertical-align: middle
          a
            display: inline-flex
            width: 100%
            justify-content: space-between
            align-items: center
            color: $link-hover
            span
              color: $font-body-color
            svg
              transition-duration: 220ms
              margin-right: 0
            &:hover
              svg
                margin-right: 1rem
                path
                  fill: $link-hover
              span
                color: $link-hover
        @media screen and (max-width: 932px)
          .link-item
            width: calc(50% - 1rem)
        @media screen and (max-width: 640px)
          .link-item
            width: 100%

  &.elementor-content-col-list-widget
    .content
      padding: 2rem
      .section-group
        margin-top: 1rem
        border-radius: 1.25rem
        border: 1px solid $border-color
        padding: 2rem 1.75rem
        background-color: $white
        width: 100%
        display: inline-flex
        justify-content: start
        flex-direction: column
        .section-label
          border-radius: 1.25rem
          align-items: center
          justify-content: center
          display: flex
          width: 4rem
          height: 4rem
          border: 1px solid $border-color
          margin-bottom: 2rem
          span
            font-size: 1.5rem
            text-transform: uppercase
        .section-content
          strong
            color: $font-body-strong-color
  &.elementor-content-accordion-inset-widget
    .content
      padding: 2rem
      .accordion-group
        margin-top: 2rem
        display: inline-flex
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .accordion-item
          padding-top: 2rem
          padding-bottom: 2rem
          margin-bottom: 0
          background-color: $white
          box-shadow: 0 0 0 1px $border-color
          .item-icon
            padding-right: .5rem
          .item-label
            padding-left: 0
          width: calc(50% - 1rem)
          .accordion-body
            strong
              color: $font-body-strong-color
            li
              color: $font-body-color
              font-weight: 400
            .accordion-link
              margin-top: .5rem
              margin-bottom: 0
              a
                color: $link-hover
                span
                  color: $link-hover
                  padding-left: .5rem
                  text-transform: uppercase
                &:hover
                  svg
                    path
                      fill: $font-body-strong-color
                  span
                    color: $font-body-strong-color
        @media screen and (max-width: 767px)
          .accordion-item
            width: 100%
  &.elementor-content-tiles-overview-widget
    .content
      padding: 2rem
      & > h1, & > h3
        text-align: center
      .content-item-group
        margin-top: 2rem
        display: inline-flex
        flex-wrap: wrap
        column-gap: 1rem
        row-gap: 1rem
        .content-item
          background-color: $white
          border-radius: 1.25rem
          box-shadow: 0 0 1px 0 $shadow-color
          display: flex
          flex-direction: column
          width: 100%
          padding: 2rem 1rem
          row-gap: 1rem
          column-gap: 1rem
          width: calc(50% - 1rem)
          .item-icon-container
            align-items: center
            display: flex
            .item-icon
              display: inline-flex
              border: 1px solid $grey
              border-radius: .5rem
              padding: 1rem
              background-color: $light-blue
              .item-icon-inner
                display: inline-flex
                align-content: center
                justify-content: center
                width: 2rem
                height: 2rem
          .item-content-container
            h3
              color: $font-body-strong-color
        @media screen and (max-width: 767px)
          .content-item
            width: 100%
  //tags
  .i2g-tag
    display: inline-block
    border-radius: .5rem
    padding: .5rem .25rem
    background-color: transparent
    font-family: "Instrument Sans"
    font-size: .75rem
    line-height: 1.5rem
    letter-spacing: -3%
    vertical-align: middle
    text-transform: uppercase
    font-weight: 600

    &.tag-primary
      background-color: $link-hover
      color: $white

  //i2g Accordion item
  &.accordion-item
    flex-direction: column
    border: 0.75rem solid $white !important
    border-radius: 1.25rem
    margin-bottom: 1rem
    .accordion-header
      width: 100%
      .accordion-button
        box-shadow: none !important
        padding: 0
        background-color: transparent
        font-family: "Questrial"
        font-weight: 400
        font-size: 1.25rem
        line-height: 1.5rem
        letter-spacing: 0
        vertical-align: middle
        .item-icon
          border: 1px solid $grey
          border-radius: .5rem
          padding: .5rem
          img
            width: 1.5rem
        .item-label
          padding-left: .5rem
    &:last-child
      margin-bottom: 0
    .accordion-collapse
      margin-top: 1rem
      width: 100%
      .accordion-body
        border-top: 2px solid $grey
        width: 100%
        padding: 0
        padding-top: 1rem
        background-color: transparent
        font-family: "Questrial"
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        letter-spacing: 0
        vertical-align: middle
        ul
          li
            font-weight: 600
            color: $font-body-strong-color
            ul
              li
                font-weight: 400
                color: $font-body-color

//elementor widgets adjust
.elementor-widget-content-text, .elementor-widget-content-image
  height: 100%
.elementor-widget-content-accordion
  .accordion.accordion-flush
    width: 100%
    display: inline-flex
    flex-direction: column
    background-color: transparent

.elementor-content-tabs-widget
  .elementor-widget-container
    *
      transition-duration: 220ms
    .e-n-tabs
      display: inline-flex
      align-items: start
      flex-direction: row
      column-gap: 1rem
      width: 100%
      .e-n-tabs-heading
        width: 33%
        display: inline-flex
        flex-direction: column
        overflow: hidden
        position: relative
        .tab-header-background
          position: absolute
          display: inline-flex
          align-items: center
          justify-content: space-between
          padding: 1rem 1.5rem
          border-radius: 0.5rem
          width: 100%
          height: 100%
          top: 0
          left: 0
          background-color: $link-hover-grey-95
          span
            color: $font-body-strong-color
          svg
            path
              fill: $link-hover
        .e-n-tab-title
          border: 12px solid $white
          border-radius: 1.25rem
          min-height: 120px
          background-size: cover
          background-position: center center
          margin-bottom: .25rem
          .e-n-tab-title-text
            text-align: left
          &:last-child
            margin-bottom: 0
      .e-n-tabs-content
        width: 66%
        border: 12px solid $white
        border-radius: 1.25rem
        background-color: $light-blue
        .content
          h1
            font-family: "Questrial"
            font-weight: 400
            font-size: 2rem
            line-height: 2.33rem
            letter-spacing: 0
            vertical-align: middle
            margin-top: .5rem
            color: $font-body-strong-color
          h3
            font-family: "Questrial"
            font-weight: 400
            font-size: 1.5rem
            line-height: 2.5rem
            letter-spacing: 0
            vertical-align: middle
            color: $link-hover
          p, li
            color: $font-body-color
            font-size: 1rem
            font-family: "Instrument Sans"
            font-weight: 400
            line-height: 1.5rem
            letter-spacing: -3%
          ul
            list-style-type: square
          .content-item
            margin-bottom: .5rem
            .content-tile-description
              p
                margin-bottom: 0
            .content-item-icon
              margin-right: .5rem
            .content-child-container
              .content-child-item
                display: inline-flex
                flex-direction: row
                align-items: center
                margin-bottom: .5rem
                p
                  margin-bottom: 0
          .i2g-tag
            display: inline-block
            border-radius: .5rem
            padding: .5rem .25rem
            background-color: transparent
            font-family: "Instrument Sans"
            font-size: .75rem
            line-height: 1.5rem
            letter-spacing: -3%
            vertical-align: middle
            text-transform: uppercase
            font-weight: 600
            &.tag-primary
              background-color: $link-hover
              color: $white

  & > .elementor-widget-container
    & > .e-n-tabs
      & > .e-n-tabs-heading
        & .e-n-tab-title[aria-selected="true"]
          .tab-header-background
            background-color: $link-hover-90
            span
              color: $white
            svg
              path
                fill: $white

.elementor-content-blog-widget
  *
    text-align: left
  .reading-time
    font-family: "Instrument Sans", Sans-serif
    font-weight: 700
    font-size: .75rem
    line-height: 1rem
    letter-spacing: -3%
    color: $font-body-color
    margin-bottom: .5rem
  h2
    font-family: "Questrial"
    font-weight: 400
    font-size: 1.25rem
    line-height: 1.5rem
    letter-spacing: 0
    vertical-align: middle
    color: $link-hover
  p
    font-family: "Questrial"
    font-weight: 400
    font-size: 1rem
    line-height: 1.5rem
    letter-spacing: -3%
    vertical-align: middle
    margin-bottom: 0
    color: $font-body-color
  .tile-link
    margin-top: .5rem
    a
      color: $link-hover
      span
        color: $link-hover
        padding-left: .5rem
        text-transform: uppercase
      &:hover
        svg
          path
            fill: $font-body-strong-color
        span
          color: $font-body-strong-color


  .i2g-blog-cover-post
    border: 0.75rem solid $white
    border-radius: 1.25rem
    background-color: $white
    margin-bottom: 2rem
    img
      width: 100% !important
      border-radius: 0.75rem
    .content
      padding: 1rem
      height: 100%
      width: 100%
      overflow: hidden

  .i2g-blog-post-tiles
    *
      text-decoration: none
      cursor: pointer
    &.cols-50
      .i2g-blog-post-tile
        width: calc(50% - 1rem)
    width: 100%
    display: inline-flex
    justify-content: space-evenly
    flex-wrap: wrap
    flex-wrap: wrap
    column-gap: 1rem
    row-gap: 1rem
    .i2g-blog-post-tile
      &:hover
        .content
          background: $font-body-strong-color
          h2
            color: $link-hover
          p
            color: $white
          svg
            path
              fill: $link-hover !important
          .tile-link
            a
              span
                color: $link-hover !important
      *
        transition-duration: 220ms
      background-size: cover
      background-position: center center
      border: 0.75rem solid $white
      border-radius: 1.25rem
      width: calc(33% - 1rem)
      min-height: 480px
      overflow: hidden
      .content
        background: linear-gradient(0deg, $light-blue 33%, rgba(255,255,255,0) 100%)
        opacity: 1
        padding: 1rem
        width: 100%
        height: 100%
        display: inline-flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-end
      display: inline-flex
      align-items: flex-end
    @media screen and (max-width: 932px)
      .i2g-blog-post-tile
        width: calc(50% - 1rem)
    @media screen and (max-width: 640px)
      .i2g-blog-post-tile
        width: 100%
.i2g-blog-post
  .post-image
    border: 0.75rem solid $white
    border-radius: 1.25rem
    background-color: $white
    margin-bottom: 1rem
  .post-content
    &.ext_space
      padding: 2rem
    border: 0.75rem solid $white
    border-radius: 1.25rem
    padding: 1rem
    background-color: $light-blue
    .content-body
      strong
        color: $font-body-strong-color
      color: $font-body-color
      .reference-quote
        border: 0.75rem solid $white
        padding: 2rem
        border-radius: 1.25rem
        background-color: $white
        text-align: center
        color: $font-body-strong-color
        font-size: 1.25rem
        line-height: 1.5rem
        margin-top: 2rem
        margin-bottom: 2rem
    .meta-table
      td
        vertical-align: top
        strong
          padding-right: 1rem

  *
    text-align: left
  .reading-time
    font-family: "Instrument Sans", Sans-serif
    font-weight: 700
    font-size: .75rem
    line-height: 1rem
    letter-spacing: -3%
    color: $font-body-color
    margin-bottom: .5rem
  h1
    font-family: "Questrial"
    font-weight: 400
    font-size: 2rem
    line-height: 2.5rem
    letter-spacing: 0
    vertical-align: middle
  h3
    font-family: "Questrial"
    font-weight: 400
    font-size: 1.25rem
    line-height: 1.5rem
    margin-bottom: .5rem
    letter-spacing: 0
    vertical-align: middle
    color: $font-body-strong-color
    margin-top: 1rem
  .i2c-meta-info
    *
      color: $font-body-color
  p
    font-family: "Instrument Sans", Sans-serif
    font-weight: 400
    font-size: 1rem
    line-height: 1.5rem
    letter-spacing: -3%
    vertical-align: middle
    color: $font-body-color
  .tile-link
    margin-top: .5rem
    a
      color: $link-hover
      span
        color: $link-hover
        padding-left: .5rem
        text-transform: uppercase
      &:hover
        svg
          path
            fill: $font-body-strong-color
        span
          color: $font-body-strong-color

  img
    width: 100% !important
    border-radius: 0.75rem
  .content
    padding: 1rem
    width: 100%
    overflow: hidden


.i2g-modal-content
  border: 0.75rem solid $white
  border-radius: 1.25rem
  background-color: $light-blue
  padding: 1rem
  height: 100%
  width: 100%
  overflow: hidden
  display: inline-flex
  .content
    display: inline-flex
    flex-direction: column
    align-items: center
    .i2g-tag
      display: inline-block
      border-radius: .5rem
      padding: .5rem .25rem
      background-color: transparent
      font-family: "Instrument Sans"
      font-size: .75rem
      line-height: 1.5rem
      letter-spacing: -3%
      vertical-align: middle
      text-transform: uppercase
      font-weight: 600
      margin-bottom: 1rem
      &.tag-primary
        background-color: $link-hover
        color: $white
    h3
      font-family: "Questrial"
      font-weight: 400
      font-size: 1.5rem
      line-height: 2.25rem
      margin-bottom: .5rem
      letter-spacing: 0
      vertical-align: middle
    p
      font-family: "Instrument Sans", Sans-serif
      font-weight: 400
      font-size: 1rem
      line-height: 1.5rem
      letter-spacing: -3%
      vertical-align: middle
      text-align: center
      color: $font-body-color
  .modal-body
    padding: 0


#call_modal
  .wpforms-container
    *
      font-family: "Instrument Sans", Sans-serif
    margin: 0 !important
    width: 100%
    padding: .5rem .5rem
    border: 0.75rem solid $white
    border-radius: 1.25rem
    background-color: $white
    box-shadow: 0 0 1px 0 $shadow-color
    .wpforms-field-row, .wpforms-field-medium
      width: 100%
      max-width: 100%
    label, legend
      color: $font-body-color
      font-weight: 600
    ul
      label
        font-weight: 400
        padding-inline-start: 0 !important
    input, textarea
      background-color: $light-blue
      border-radius: .75rem
      padding: 1rem 1rem
      &::placeholder
        color: $font-body-color
    button
      width: 100%
      padding: 1rem 1rem
      background-color: $link-hover !important
      border-radius: .75rem
    .wpforms-field-radio
      ul
        display: inline-flex
        flex-wrap: wrap
        label
          font-size: .75rem
      .wpforms-field-description
        font-family: "Instrument Sans", Sans-serif
        font-weight: 400
        font-size: 1rem
        line-height: 1.5rem
        letter-spacing: -3%

.e-con-inner
  .i2g-images-row
    .elementor-content-image-widget
      min-height: 256px
      height: 256px

.pos-relative
  position: relative
.pos-absolute
  position: absolute

@media screen and (min-width: 932px)
  .hidden-md-up
    display: none !important
@media screen and (max-width: 932px)
  .hidden-md-down
    display: none !important
//@media screen and (max-width: 640px)
.i2g-mobile-navigation
  top: 88%
  left: .65rem
  right: .65rem
  z-index: 1000
  background-color: $light-blue
  border-radius: 0 0 1.25rem 1.25rem
  box-shadow: 0 16px 12px 0 $shadow-color
  .btn-primary
    background-color: $link-hover
    border-color: $link-hover
  .icon-aside
    display: flex
    align-items: center
    .icon-text
      margin-left: .5rem
      font-family: "Instrument Sans"
      font-weight: 400
      font-size: 1rem
      line-height: 100%
      letter-spacing: -3%
      vertical-align: middle
      a, a:visited
        color: $black
      a:hover
        color: $link-hover
  .i2g-language-menu
    .menu
      list-style-type: none
      display: inline-flex
      margin-bottom: 0
      padding: 0
      li
        a
          display: block
          padding: .25rem .75rem
          font-size: 0.85rem
          color: $black
          text-decoration: none
          &:hover
            color: $link-hover !important
        &.current-menu-item
          a
            color: $link-hover
      .active
        a
          color: $link-hover !important
  .i2g-mobile-navigation-wrap
    ul
      list-style-type: none
      margin: 0
      padding: 0
      .menu-item
        a
          display: block
          border-bottom: 1px solid #ccc
          padding-top: .75rem
          padding-left: 1rem
          padding-bottom: .75rem
          font-size: 1rem
          color: $black
          text-decoration: none
          &:hover
            background-color: $link-hover
            color: $white
        ul
          a
            padding-left: 2rem
      .current-menu-item
        & > a
          background-color: $link-hover
          color: $white

.elementor-widget-content-inset-repeater-abstract
  .content
    &.item-group
      padding: 0 !important
  .content-item
    background-color: $white
    border-radius: 1.25rem
    box-shadow: 0 0 1px 0 $shadow-color
    display: flex
    width: 100%
    padding: 2rem 1rem
    row-gap: 1rem
    column-gap: 1rem
    .item-icon-container
      align-items: center
      display: flex
      .item-icon
        display: inline-flex
        border: 1px solid $grey
        border-radius: .5rem
        padding: 1rem
        background-color: $light-blue
        .item-icon-inner
          display: inline-flex
          align-content: center
          justify-content: center
          width: 2rem
          height: 2rem

    .member-info-container
      background-color: $white
      border-radius: 1.25rem
      box-shadow: 0 0 1px 0 $shadow-color
      display: flex
      width: 100%
      padding: 2rem
      margin-top: 1rem
      .icon-box
        min-height: 4rem
        padding: 1rem
        display: inline-flex
        align-items: center
        background-color: $light-blue
        border-radius: .75rem
        box-shadow: 0 0 1px 0 $shadow-color
      .content-box
        margin-left: 2rem
        padding-top: .5rem
        *
          font-family: "Instrument Sans", serif
          color: $font-body-color
        span
          color: $font-body-strong-color
